<?php if( ! defined('ROOT_PATH') ) die( 'Curiosity kills cat!' );

//Debug mode.
define( 'DEBUG', true );

//Define DB variables.
define( 'DB_HOST', 'your-database-host' );
define( 'DB_NAME', 'your-database-name' );
define( 'DB_USERNAME', 'your-database-username' );
define( 'DB_PASSWORD', 'your-database-password' );

//Site Url.
define( 'SITE_URL', 'https://your-site-url.com' );
